Source: ros-foxy-rqt-service-caller
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ros-workspace
Homepage: http://wiki.ros.org/rqt_service_caller
Standards-Version: 3.9.2

Package: ros-foxy-rqt-service-caller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-rqt-gui, ros-foxy-rqt-gui-py, ros-foxy-rqt-py-common, ros-foxy-ros-workspace
Description: rqt_service_caller provides a GUI plugin for calling arbitrary services.
