Source: ros-jazzy-rqt-service-caller
Section: misc
Priority: optional
Maintainer: Brandon Ong <brandon@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://wiki.ros.org/rqt_service_caller
Standards-Version: 3.9.2

Package: ros-jazzy-rqt-service-caller
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-jazzy-rqt-gui, ros-jazzy-rqt-gui-py, ros-jazzy-rqt-py-common, ros-jazzy-ros-workspace
Description: rqt_service_caller provides a GUI plugin for calling arbitrary services.
